<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NodeRTUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="NodeRTGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <NodeRTUI.Properties.Settings>
            <setting name="LastWinMDPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFilter" serializeAs="String">
                <value/>
            </setting>
            <setting name="VsVersionComboSelection" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OutputDirPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="GenerateDefsChk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildModuleChk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WinVersionComboSelection" serializeAs="String">
                <value>2</value>
            </setting>
        </NodeRTUI.Properties.Settings>
    </userSettings>
</configuration>
